:root {
    --custom-font-raleway: 'Raleway', sans-serif;
    --custom-font-work: 'Work Sans', sans-serif;

    --custom-primary: #D2A758;
    --custom-secondary: #0B2D1F;
    --custom-light: #F9F9F9;
    --custom-white: #fff;
    
    --custom-fs-16: 16px;
    --custom-fs-18: 18px;
    --custom-fs-22: 22px;
    --custom-fs-24: 24px;
    --custom-fs-25: 25px;
    --custom-fs-28: 28px;
    --custom-fs-30: 30px;
    --custom-fs-35: 35px;
    --custom-fs-40: 40px;
    --custom-fs-50: 50px;
    --custom-fs-75: 75px;
    --custom-fs-140: 140px;

    --custom-br-10: 10px;
    --custom-br-5: 5px;
    --custom-br-0: 0;

    --custom-fw-100: 100;
    --custom-fw-400: 400;
    --custom-fw-500: 500;
    --custom-fw-600: 600;
    --custom-fw-700: 700;    
    --custom-fw-800: 800;
}
* {
    font-family: var(--custom-font-raleway);
}
.custom-font-raleway {
    font-family: var(--custom-font-raleway) !important;
}
.custom-font-work {
    font-family: var(--custom-font-work) !important;
}

.custom-shadow {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.custom-br-10 {
    border-radius: 10px !important;
}
.custom-br-5 {
    border-radius: 5px !important;
}
.custom-br-0 {
    border-radius: 0 !important;
}
.custom-bc-primary {
    border-color: var(--custom-primary) !important;
}
.custom-bc-secondary {
    border-color: var(--custom-secondary) !important;
}
.custom-fs-16 {
    font-size: var(--custom-fs-16);
}
.custom-fs-18 {
    font-size: var(--custom-fs-18);
}
.custom-fs-22 {
    font-size: var(--custom-fs-22);
}
.custom-fs-24 {
    font-size: var(--custom-fs-24);
}
.custom-fs-25 {
    font-size: var(--custom-fs-25);
}
.custom-fs-28 {
    font-size: var(--custom-fs-28);
}
.custom-fs-30 {
    font-size: var(--custom-fs-30);
}
.custom-fs-35 {
    font-size: var(--custom-fs-35);
}
.custom-fs-40 {
    font-size: var(--custom-fs-40);
}
.custom-fs-50 {
    font-size: var(--custom-fs-50);
}
.custom-fs-75 {
    font-size: var(--custom-fs-75);
}
.custom-fs-140 {
    font-size: var(--custom-fs-140);
}
.custom-fw-100 {
    font-weight: var(--custom-fw-100) !important;
}
.custom-fw-400 {
    font-weight: var(--custom-fw-400) !important;
}
.custom-fw-500 {
    font-weight: var(--custom-fw-500) !important;
}
.custom-fw-600 {
    font-weight: var(--custom-fw-600) !important;
}
.custom-fw-700 {
    font-weight: var(--custom-fw-700) !important;
}
.custom-fw-800 {
    font-weight: var(--custom-fw-800) !important;
}
.custom-text-primary {
    color: var(--custom-primary) !important;
}
.custom-text-secondary {
    color: var(--custom-secondary) !important;
}
.custom-text-light {
    color: var(--custom-light) !important;
}
.custom-text-white {
    color: var(--custom-white) !important;
}
.custom-bg-primary {
    background-color: var(--custom-primary) !important;
}
.custom-bg-secondary {
    background-color: var(--custom-secondary) !important;
}
.custom-bg-light {
    background-color: var(--custom-light) !important;
}
.custom-bg-white {
    background-color: var(--custom-white) !important;
}
.custom-cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

.forced-centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.forced-bottom {
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* Hero Carousel Wrapper */
.custom-hero-resize {
    width: 100%;
    height: 38rem;
    object-fit: cover;
}
/* ==================== */

/* Product Category Wrapper */
.custom-category-img-resize {
    width: 100%;
    height: 750px;
    object-fit: cover;
}
/* ==================== */

/* Product Grid Wrapper */
.custom-product-grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}
/* ==================== */

/* Shop banner */
.custom-shop-banner-resize {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* =========== */

/* About Page > Our Process */
.process {
    position: absolute;
    max-width: 500px;
}
.process-top {
    top: 0;
    text-align: right;
}
.process-middle {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    text-align: left;
}
.process-bottom {
    bottom: 0;
    text-align: right;
}
/* ========================= */

/* look-book > image banner section */
.custom-lookbook-grid {
    --auto-grid-min-size: 25%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 0rem;
}
.custom-lookbook-resize {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ==================== */

/* choose option > image banner section */
.custom-chooseoption-grid {
    --auto-grid-min-size: 33.333%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 0rem;
}

.contact-page-reposition {
    position: absolute; 
    top:50%; 
    right: -2rem; 
    transform:translate(0,-50%)
}

.contact-part-resize {
    height: 762px; 
    width: 310px;
}

@media screen and (max-width: 1205px) {
    /* About Page > Our Process */
    .process {
        max-width: 400px;
    }
    /* ========================= */
}

@media screen and (max-width: 1040px) {
    :root {
        --custom-fs-16: 16px;
        --custom-fs-18: 18px;
        --custom-fs-24: 24px;
        --custom-fs-25: 25px;
        --custom-fs-28: 28px;
        --custom-fs-35: 35px;
        --custom-fs-40: 40px;
        --custom-fs-50: 50px;
        --custom-fs-140: 95px; /* changed */
    }
    
}

@media screen and (max-width: 990px) {
    /* About Page > Our Process */
    .process {
        position: relative;
        max-width: 100%;
    }
    .process-top {
        text-align: left;
    }
    .process-middle {
        transform: none;
        text-align: left;
        margin: 2rem 0 !important;
    }
    .process-bottom {
        text-align: left;
    }
    /* ========================= */
}

@media screen and (max-width: 940px) {
    /* Product Category Wrapper */
    .custom-category-img-resize { height: 650px; }
    /* ==================== */
}
@media screen and (max-width: 840px) {
    :root {
        --custom-fs-16: 16px;
        --custom-fs-18: 18px;
        --custom-fs-24: 22px;
        --custom-fs-25: 25px;
        --custom-fs-28: 28px;
        --custom-fs-35: 35px;
        --custom-fs-40: 35px;
        --custom-fs-50: 40px;
        --custom-fs-140: 70px; /* changed */
    }
    /* Hero Carousel Wrapper */
    .custom-hero-resize { height: 30rem; }
    /* ==================== */
    
    /* Product Category Wrapper */
    .custom-category-img-resize { height: 550px; }
    /* ==================== */
}
@media screen and (max-width: 640px) {
    :root {
        --custom-fs-16: 16px;
        --custom-fs-18: 18px;
        --custom-fs-24: 18px;
        --custom-fs-25: 25px;
        --custom-fs-28: 28px;
        --custom-fs-35: 35px;
        --custom-fs-40: 30px;
        --custom-fs-50: 40px;
        --custom-fs-140: 55px; /* changed */
    }
    /* Hero Carousel Wrapper */
    .custom-hero-resize { height: 25rem; }
    /* ==================== */

    /* Product Category Wrapper */
    .custom-category-img-resize { height: 450px; }
    /* ==================== */

    .contact-page-reposition {
        position: relative;
        transform: none;
        height: auto;
        top: 0;
        left: 0;
    }
    .contact-part-resize {
        height: 0px;
        visibility: hidden;
    }
}
@media screen and (max-width: 440px) {
    :root {
        --custom-fs-16: 14px;
        --custom-fs-18: 16px;
        --custom-fs-24: 18px;
        --custom-fs-25: 20px;
        --custom-fs-28: 24px;
        --custom-fs-35: 28px;
        --custom-fs-40: 24px;
        --custom-fs-50: 30px;
        --custom-fs-140: 40px; /* changed */
    }
    /* Hero Carousel Wrapper */
    .custom-hero-resize { height: 20rem; }
    /* ==================== */
}